body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 2em 0;
}

.skills img {
    width: 50px;
    height: 50px;
}